ARGS="--config.file=/etc/prometheus/prometheus.yml --storage.tsdb.path=/var/lib/prometheus/metrics2 --storage.tsdb.retention.time=15d --web.external-url={{ wordpress_public_url }}/prometheus/ --web.route-prefix=/"
