[Unit]
Description=Run watchlog script every 30 second

[Timer]
OnBootSec=30
OnUnitActiveSec=30
Unit=watchlog.service

[Install]
WantedBy=timers.target
