#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter; policy drop;

    iifname "lo" accept
    ct state established,related accept
    ct state invalid drop
    ip protocol icmp accept
    ip6 nexthdr ipv6-icmp accept

    ip saddr {{ management_network }} tcp dport 22 accept
    ip saddr 10.0.2.0/24 tcp dport 22 accept

    tcp dport { 80, 443 } accept

    ip saddr {{ monitor_ip }} tcp dport 9100 accept
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
  }

  chain output {
    type filter hook output priority filter; policy accept;
  }
}
