[mysqld]
server-id=2
bind-address=0.0.0.0
port=3306
log-bin=mysql-bin
relay-log=relay-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
log-replica-updates=ON
replica-parallel-workers=4
replica-preserve-commit-order=ON
binlog-expire-logs-seconds=604800
skip-name-resolve=ON
